.crossed-out {
  color: #5d7598;
  text-decoration: line-through;
}
.delete-button {
  display: none; /* Initially hide the delete button */
}

.todo-item:hover .delete-button {
  display: inline-block; /* Show the delete button on hover */
}
